@font-face {
  font-family: 'Now';
  src: url('/fonts/now.thin.otf') format('opentype');
  font-family: 'Jura';
  src: url('/fonts/Jura-VariableFont_wght.ttf') format('opentype');
  font-family: 'Butter Chicken';
  src: url('/fonts/JButter Chicken.ttf') format('opentype');
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
}