* {
    margin: 0;
    padding: 0;
}

.menu_title {
    margin-top: 3rem;
}

.menu_title h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 2rem;
    font-family: 'now';
    color: #000000;
}

.line {
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
    background-color: #f19355;
    border: none;
    width: 10%;
    height: 3px;
}

.menu_para {
    width: 50%;
    margin: 3rem auto;
}

.menu_para p {
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
    font-family: 'jura';
    color: #000000;
}

.menu_list {
    margin-top: 6rem;
}

.coffee {
    padding-left: 10rem;
}
.coffee h3 {
    font-size: 2rem;
}

.th {
    margin-top: 4rem;
    margin-left: 3.8rem;
}
.th li{
    font-size: 1.2rem;
    font-family: 'jura';
    display: inline;
    padding: 6rem;
}

.line1 {
    margin-top: 0.2rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #f19355;
    border: none;
    height: 0.3px;
}

.td1 {
    margin-top: 1rem;
    margin-left: 6.3rem;
}

.tr1 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 3.6rem;
}

.ml1 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.td2 {
    margin-top: 1rem;
    margin-left: 5.5rem;
}

.tr2 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 4.3rem;
}

.ml2 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.td3 {
    margin-top: 1rem;
    margin-left: 6.3rem;
}

.tr3 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 3.5rem;
}

.ml3 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.td4 {
    margin-top: 1rem;
    margin-left: 5.3rem;
}

.tr4 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 4.5rem;
}

.ml4 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.td5 {
    margin-top: 1rem;
    margin-left: 5.3rem;
}

.tr5 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 4.7rem;
}

.ml5 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.coffee_img {
    float: right;
    margin-right: 3rem;
    margin-top: -30rem;
}

.coffee_img img {
    width: 90%;
}

.special_drink {
    margin-top: 13rem;
    padding-left: 10rem;

}
.special_drink h3 {
    font-size: 2rem;
}

.spth {
    margin-top: 4rem;
    margin-left: 3.8rem;
}
.spth li{
    font-size: 1.2rem;
    font-family: 'jura';
    display: inline;
    padding: 6rem;
}

.spline1 {
    margin-top: 0.2rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #f19355;
    border: none;
    height: 0.3px;
}

.sptd1 {
    margin-top: 1rem;
    margin-left: 7.5rem;
}

.sptr1 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 2.28rem;
}

.spml1 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.sptd2 {
    margin-top: 1rem;
    margin-left: 7rem;
}

.sptr2 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 2.9rem;
}

.spml2 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.sptd3 {
    margin-top: 1rem;
    margin-left: 6.8rem;
}

.sptr3 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 3rem;
}

.spml3 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.special_img {
    float: right;
    margin-right: 0rem;
    margin-top: -18rem;
}

.special_img img {
    width: 80%;
}

.bakery {
    margin-top: 13rem;
    padding-left: 10rem;   
}

.bakery h3 {
    font-size: 2rem;
}

.bth {
    margin-top: 4rem;
    margin-left: 3.8rem;
}
.bth li{
    font-size: 1.2rem;
    font-family: 'jura';
    display: inline;
    padding: 6rem;
}

.bline1 {
    margin-top: 0.2rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #f19355;
    border: none;
    height: 0.3px;
}

.btd1 {
    margin-top: 1rem;
    margin-left: 6.5rem;
}

.btr1 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 3.2rem;
}

.bml1 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.btd2 {
    margin-top: 1rem;
    margin-left: 7rem;
}

.btr2 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 2.9rem;
}

.bml2 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.btd3 {
    margin-top: 1rem;
    margin-left: 4.8rem;
}

.btr3 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 5.2rem;
}

.bml3 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.btd4 {
    margin-top: 1rem;
    margin-left: 6.5rem;
}

.btr4 li {
    list-style: none;
    font-size: 1rem;
    font-family: 'jura';
    display: inline;
    padding: 3.4rem;
}

.bml4 {
    margin-top: 0.8rem;
    margin-left: 10rem;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    background-color: #c7c7c7;
    border: none;
    height: 0.3px;
}

.bakery_img {
    float: right;
    margin-right: -130rem;
    margin-top: -18rem;
}

.bakery_img img {
    width: 10%;
}

@media screen and (max-width: 414px) {
    .menu_para {
        width: 75%;
    }

    .coffee {
        padding-left: 8.7rem;
    }

    .th {
        margin-left: auto;
    }

    .th li {
        padding: 2.4rem;
    }

    .line1 {
        margin-left: 2.4rem;
        width: 84%;
    }

    .td1 {
        width: 100%;
        margin-left: 1.8rem;
        margin-top: 1.5rem;
    }

    .tr1 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.6rem;
    }

    .ml1 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .td2 {
        width: 100%;
        margin-left: 1.2rem;
        margin-top: 1.5rem;
    }

    .tr2 li {
        font-size: 0.9rem;
        display: inline;
        padding: 1.2rem;
    }

    .ml2 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .td3 {
        width: 100%;
        margin-left: 1.8rem;
        margin-top: 1.5rem;
    }

    .tr3 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.5rem;
    }

    .ml3 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .td4 {
        width: 100%;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }

    .tr4 li {
        font-size: 0.9rem;
        display: inline;
        padding: 1.4rem;
    }

    .ml4 {
        margin-left: 2.4rem;
        width: 85%;
    }

    .td5 {
        width: 100%;
        margin-left: 0.8rem;
        margin-top: 1.5rem;
    }

    .tr5 li {
        font-size: 0.9rem;
        display: inline;
        padding: 1.6rem;
    }

    .ml5 {
        margin-left: 2.4rem;
        width: 85%;
    }
    
    .coffee_img img{
        margin-left: auto;
        margin-top: 31rem;
        display: flex;
    }

    .special_drink h3{
        display: flex;
        margin-left: -5rem;
        margin-top: 35rem;
    }
}