* {
    margin: 0;
    padding: 0;
}

.menu_title {
    margin-top: 3rem;
}

.menu_title h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 2rem;
    font-family: 'now';
    color: #000000;
}

.line {
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
    background-color: #f19355;
    border: none;
    width: 10%;
    height: 3px;
}

.menu_para {
    width: 50%;
    margin: 3rem auto;
}

.menu_para p {
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
    font-family: 'jura';
    color: #000000;
}

.menu_list {
    margin-top: 6rem;
}

.coffee,.special_drink,.bakery {
    padding-left: 10rem;
}
.coffee,.special_drink,.bakery, h3 {
    font-family: 'now';
    font-size: 2rem;
}

.coffee_menu,.special_drinks_menu,.bakery_menu {
    display: flex;
    padding-top: 3rem;
    padding-left: 9rem;
    font-family: 'jura';
}
.coffee_table,.special_drink_table,.bakery_table {
    line-height: 2rem;
    width: 48%;
    border-collapse: collapse;
    text-align: justify;
}

.coffee_table,.special_drink_table,.bakery_table, thead tr {
    border-bottom: 0.3px solid #f19355;    
}

.coffee_table,.special_drink_table,.bakery_table, tbody tr {
    border-bottom: 0.3px solid #c7c7c7;
}

.coffee_table th,.coffee_table,.bakery_table, td {
    padding: 10px;
    font-size: 1rem;
}

.coffee_table,.special_drink_table,.bakery_table, td {
    vertical-align: top;
}

.coffee_img {
    float: right;
    margin-right: 3rem;
    margin-top: -30rem;
}

.coffee_img img {
    width: 90%;
}

.special_drink,.bakery {
    margin-top: 8rem;

}
.special_drink h3 {
    font-size: 2rem;
}

.special_drinks_menu {
    display: flex;
    padding-left: 9rem;
    font-family: 'jura';
}
.special_drink_table {
    line-height: 2rem;
    width: 48%;
    border-collapse: collapse;
    text-align: justify;
}

.special_drink_table thead tr {
    border-bottom: 0.3px solid #f19355;    
}

.special_drink_table tbody tr {
    border-bottom: 0.3px solid #c7c7c7;
}

.special_drink_table th,.special_drink_table td {
    padding: 10px;
    font-size: 1rem;
}

.special_drink_table td {
    vertical-align: top;
}

.special_img {
    float: right;
    margin-right: 0rem;
    margin-top: -18rem;
}

.special_img img {
    width: 80%;
}

.bakery h3 {
    font-size: 2rem;
}

.bakery_img {
    float: right;
    margin-right: -130rem;
    margin-top: -18rem;
}

.bakery_img img {
    width: 10%;
}

@media screen and (min-width: 2560px) {
    .menu_title h2{
        font-size: 4rem;
    }

    .menu_para p{
        font-size: 1.2rem;
    }

    .menu_list {
        padding-left: 16rem;
    }

    .line1 {
        width: 580px;
    }

    .ml1,.ml2,.ml3,.ml4,.ml5,.spline1,.spml1,
    .spml2,.spml3,.bline1,.bml1,.bml2,.bml3,.bml4 {
        width: 580px;
    }

    .coffee_img,.special_img,.bakery_img{
        padding-right: 16rem;
    }  
}
@media screen and (max-width: 414px) {
    .menu_para {
        width: 75%;
    }

    .coffee {
        padding-left: 8.7rem;
    }

    .th {
        margin-left: auto;
    }

    .th li {
        padding: 2.4rem;
    }

    .line1 {
        margin-left: 2.4rem;
        width: 84%;
    }

    .td1 {
        width: 100%;
        margin-left: 1.8rem;
        margin-top: 1.5rem;
    }

    .tr1 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.6rem;
    }

    .ml1 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .td2 {
        width: 100%;
        margin-left: 1.2rem;
        margin-top: 1.5rem;
    }

    .tr2 li {
        font-size: 0.9rem;
        display: inline;
        padding: 1.2rem;
    }

    .ml2 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .td3 {
        width: 100%;
        margin-left: 1.8rem;
        margin-top: 1.5rem;
    }

    .tr3 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.5rem;
    }

    .ml3 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .td4 {
        width: 100%;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }

    .tr4 li {
        font-size: 0.9rem;
        display: inline;
        padding: 1.4rem;
    }

    .ml4 {
        margin-left: 2.4rem;
        width: 85%;
    }

    .td5 {
        width: 100%;
        margin-left: 0.8rem;
        margin-top: 1.5rem;
    }

    .tr5 li {
        font-size: 0.9rem;
        display: inline;
        padding: 1.6rem;
    }

    .ml5 {
        margin-left: 2.4rem;
        width: 85%;
    }
    
    .coffee_img img{
        margin-left: auto;
        padding-top: 31rem;
        display: flex;
    }

    .special_drink h3{
        display: flex;
        margin-left: -5rem;
        margin-top: 35rem;
    }

    .spth {
        margin-left: auto;
    }

    .spth li {
        padding: 2.4rem;
    }

    .spline1 {
        margin-left: 2.4rem;
        width: 84%;
    }

    .sptd1 {
        width: 100%;
        margin-left: 1.6rem;
        margin-top: 1.5rem;
    }

    .sptr1 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.8rem;
    }

    .sptr1 li .hideout {
        display: none;
    }

    .spml1 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .sptd2 {
        width: 100%;
        margin-left: 1.3rem;
        margin-top: 1.5rem;
    }

    .sptr2 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.8rem;
    }

    .sptr2 li .hideout {
        display: none;
    }

    .spml2 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .sptd3 {
        width: 100%;
        margin-left: 0.8rem;
        margin-top: 1.5rem;
    }

    .sptr3 li {
        font-size: 0.9rem;
        display: inline;
        padding: 1.3rem;
    }

    .sptr3 li .hideout {
        display: none;
    }

    .spml3 {
        margin-left: 2.4rem;
        width: 85%;
    }

    .special_img img{
        margin-left: auto;
        margin-right: auto;
        padding-top: 20rem;
        display: flex;
        
    }

    .bakery h3{
        display: flex;
        margin-left: -1.5rem;
        margin-top: 25rem;
    }

    .bth {
        margin-left: auto;
    }

    .bth li {
        padding: 2.4rem;
    }

    .bline1 {
        margin-left: 2.4rem;
        width: 84%;
    }

    .btd1 {
        width: 100%;
        margin-left: 1.6rem;
        margin-top: 1.5rem;
    }

    .btr1 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.3rem;
    }

    .bml1 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .btd2 {
        width: 100%;
        margin-left: 1.3rem;
        margin-top: 1.5rem;
    }

    .btr2 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.3rem;
    }

    .bml2 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .btd3 {
        width: 100%;
        margin-left: 0rem;
        margin-top: 1.5rem;
    }

    .btr3 li {
        font-size: 0.9rem;
        display: inline;
        padding: 2.03rem;
    }

    .bml3 {
        margin-left: 2.4rem;
        width: 85%;
    }

     .btd4 {
        width: 100%;
        margin-left: 1.6rem;
        margin-top: 1.5rem;
    }

    .btr4 li {
        font-size: 0.9rem;
        display: inline;
        padding: 0.6rem;
    }

    .bml4 {
        margin-left: 2.4rem;
        width: 85%;
    }

    .bakery_img img{
        padding-left: 5.5rem;
        padding-top: 20rem;
        display: flex;
        margin-bottom: 6rem;
        
    }    
}

@media screen and (max-width: 375px) {
    .coffee h3 {
        margin-left: -8rem;
        display: flex;
        justify-content: space-around;
    }
}