*{
    margin: 0;
    padding: 0;
}

.visit_title {
    margin-top: 3rem
}

.visit_title h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'now';
    color: #000000;
}

.vline {
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
    background-color: #f19355;
    border: none;
    width: 10%;
    height: 3px;
}

.visit_des {
    width: 30%;
    margin: 3rem auto;
}

.visit_des p {
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
    font-family: 'jura';
    color: #000000;
}

.address_title {
    margin-top: 6rem;
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
    font-family: 'jura';
    color: #f19355;
}

.address_info p{
    width: 460px;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
    font-family: 'jura';
    color: #000000;
}

.hours_title {
    margin-top: 6rem;
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
    font-family: 'jura';
    color: #f19355;
}

.hours_info p{
    width: 19%;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
    font-family: 'jura';
    color: #000000;
}

@media screen and (min-width: 2560px) {
    .visit_title h2 {
        font-size: 4rem;
    }

    .visit_des p,.address_info p,.hours_info p {
        font-size: 1.2rem;
    }

    .address_title h3,.hours_title h3 {
        font-size: 23px;
    }
}

@media screen and (max-width: 820px) {
    .visit_des {
        width: 60%;
    }

    .address_info p {
        width: 60%;
    }

    .hours_info p {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .visit_des {
        width: 60%;
    }

    .address_info p {
        width: 60%;
    }

    .hours_info p {
        width: 60%;
    }
}

@media screen and (max-width: 430px) {
    .visit_des {
        width: 60%;
    }

    .address_info p {
        width: 60%;
    }

    .hours_info p {
        width: auto;
    }
}

@media screen and (max-width: 414px) {
    .visit_des {
        width: 60%;
    }

    .address_info p {
        width: 60%;
    }

    .hours_info p {
        width: auto;
    }
}