* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    margin-right: 8rem;
}

.logo {
    cursor: pointer;
    display: flex;
    margin-top: auto;
    margin-left: 13rem;
}

.logo h2 {
    font-family: 'butter chicken';
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
}

.navbar li{
    display: inline;
    padding: 1.3rem;
}

.navbar a {
    font-family: 'jura';
    font-size: 1.13rem;
    color: #ffffff;
    text-decoration: none;
}

.navbar a:hover {
    color: #f19355;
}