body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/coffee.jpg);
    background-size: cover;
    overflow-x: hidden;
}

.container {
    align-items: center;
    justify-content: space-between;
}

.hero_title {
    padding-left: 16rem;
    padding-top: 11rem;
    align-items: center;
    justify-content: center;  
}
.hero_title h1{
    font-size: 3.5rem;
    font-family: 'gotham';
    color: #ffffff;
}
